<h1>Welcome <%= @user.name %> </h1>
<%= link_to "Edit Profile", edit_user_registration_path(@user)  %>
<p>
  <%= image_tag @user.image.url %>
</p>
<%= render 'users/image_upload' %>

<%= render 'posts/form' %>

<% @posts.each do |post| %>
  <div class="posts">
  <p><%= post.content %></p>
  <%= "Likes: #{post.likes.count}" %></br>
  <p>Posted <%= time_ago_in_words(post.created_at) %> ago.</p>
  </div>
</br>
<% end %>
