<h1>Pending Friend Request.</h1>
<% if !@received_requests.empty? %>
  <% @received_requests.each do |requester| %>
    <%= image_tag requester.image.url %>

  <p>  <%= requester.name %></p>
  Received <%= time_ago_in_words(requester.created_at) %> ago.
    <%= render 'friendships/form',  :locals => {:requester_id => requester.id} %></br>
  <% end %>
<% else %>
  <p>You don't have any pending friend requests.</br>
   To find people you may know go to <%= link_to "All Users", users_path %></p>
<% end %>
